<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
</head>

<body>
	<h1 th:text="${title}"></h1>

	<form method="get" action="#" th:action="@{/complete}" th:object="${chat}">

		<label><input type="text" name="name" th:value="*{name}" placeholder="お名前"></label>
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラー</div>

		<label>: <input type="text" name="comment" th:value="*{comment}" placeholder="コメント:500文字まで"></label>
		<div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">エラー</div>

		<input type="submit" value="投稿">
	</form>

	<a href="/top">トップページへ戻る</a>
</body>

</html>